.carta-empleado {
    width: 600px;
    margin: 20px;
}

.nombre {
    font-size: 1.6em;
    font-weight: bolder;
}

.columna-datos {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 10px 0px;
}